@import "tailwindcss";

@layer base {
  * {
    @apply border-zinc-700;
  }
  body {
    @apply bg-zinc-800 text-zinc-100;
  }
}

@layer utilities {
  @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in-down {
    animation: fadeInDown 0.8s ease-out;
  }
}
